<div class="tab-group">
  <!-- Left Tabs -->
  <div class="tabs left-tabs">
    <div class="tab" (click)="openTab('content1')">Friends</div>
    <div class="tab" (click)="openTab('content2')">Groups</div>
  </div>
  
  <!-- Center Button -->
  <button class="center-button">Add an expense</button>
  
  <!-- Right Tabs -->
  <div class="tabs right-tabs">
    <div class="tab" (click)="openTab('content3')">Activity</div>
    <div class="tab" (click)="openTab('content4')">Acount</div>
  </div>
</div>

<!-- Content Area -->
<div class="container"> 
<div class="content-container">
  <div *ngIf="activeTab === 'content1'" class="tab-content">
    
    
    <mat-list role="list">
        <mat-list-item role="listitem"> 
            Mario 
        </mat-list-item>
        <mat-list-item role="listitem">Bernahard</mat-list-item>
        <mat-list-item role="listitem">Michi</mat-list-item>
    </mat-list>


  </div>
  <div *ngIf="activeTab === 'content2'" class="tab-content">

    <mat-list role="list">
        <mat-list-item role="listitem"> 
            Copenhagen
        </mat-list-item>
        <mat-list-item role="listitem">
            Spain Travel
        </mat-list-item>
        <mat-list-item role="listitem">
            Appartment
        </mat-list-item>
    </mat-list>

  </div>
  <div *ngIf="activeTab === 'content3'" class="tab-content">Content for Tab 3</div>
  <div *ngIf="activeTab === 'content4'" class="tab-content">Content for Tab 4</div>
</div>
</div>